:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  
  --content-background: #F2EFEA;
  --accent-color: #403D58;
  --placeholder-text-color: #8e8e8e;
  --invalid-color: #d14f4f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}